
aliases:
  - &restore-yarn-cache
    keys:
      - v2-yarn-cache-{{ arch }}-{{ checksum "package.json" }}
      - v2-yarn-cache-{{ arch }}
  - &save-yarn-cache
    paths:
      - ~/.cache/yarn
    key: v2-yarn-cache-{{ arch }}-{{ checksum "package.json" }}

  - &restore-node-modules
    keys:
      - v2-node-modules-{{ arch }}-{{ checksum "package.json" }}
  - &save-node-modules
    paths:
      - node_modules
    key: v2-node-modules-{{ arch }}-{{ checksum "package.json" }}

  - &restore-cache-android-packages
    keys:
      - v1-android-sdkmanager-packages-api-28-alpha-{{ checksum "scripts/.tests.env" }}
  - &save-cache-android-packages
    paths:
      - /opt/android/sdk
    key: v1-android-sdkmanager-packages-api-28-alpha-{{ checksum "scripts/.tests.env" }}

  - &restore-cache-gradle
    keys:
      - v2-gradle-{{ .Branch }}-{{ checksum "android/build.gradle" }}-{{ checksum "android/app/build.gradle" }}
      # Fallback in case checksum fails
      - v2-gradle-{{ .Branch }}-{{ checksum "android/build.gradle" }}-
      - v2-gradle-{{ .Branch }}-
      # Fallback in case this is a first-time run on a fork
      - v2-gradle-master-
  - &save-cache-gradle
    paths:
      - ~/.gradle
    key: v2-gradle-{{ .Branch }}-{{ checksum "android/build.gradle" }}-{{ checksum "android/app/build.gradle" }}

  - &build-android-app
    name: Build Android Space Viewer App
    command: ./gradlew assembleRelease -Pjobs=$BUILD_THREADS

  - &yarn
    name: Run Yarn
    command: |
      # Skip yarn install on metro bump commits as the package is not yet
      # available on npm
      if [[ $(echo "$GIT_COMMIT_DESC" | grep -c "Bump metro@") -eq 0 ]]; then
        yarn install --non-interactive --cache-folder ~/.cache/yarn
      fi

defaults: &defaults
  working_directory: ~/space-viewer
  environment:
    - GIT_COMMIT_DESC: git log --format=oneline -n 1 $CIRCLE_SHA1

js_defaults: &js_defaults
  <<: *defaults
  docker:
    - image: circleci/node:8
  environment:
    - PATH: "/opt/yarn/yarn-v1.15.2/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

android_defaults: &android_defaults
  <<: *defaults
  docker:
  - image: entria/react-native-android:0.1.86
  resource_class: "large"
  environment:
    - TERM: "dumb"
    - ADB_INSTALL_TIMEOUT: 10
    - GRADLE_OPTS: '-Dorg.gradle.jvmargs="-Xmx2g -XX:+HeapDumpOnOutOfMemoryError"'
    - ANDROID_BUILD_TOOLS_VERSION: '28.0.3'
    - ANDROID_NDK: '/opt/ndk/android-ndk-r17c'
    - REACT_NATIVE_MAX_WORKERS: 2

version: 2
jobs:
  # Set up a Node environment for downstream jobs
  build-android:
    <<: *android_defaults
    steps:
      - checkout
      - restore-cache: *restore-yarn-cache
      - run: *yarn
      - save-cache: *save-yarn-cache

      - lint-check
      - run: yarn lint-ci

      - tests
      - run: yarn test-ci

      - build-android
      - run: cd android && chmod +x gradlew && ./gradlew buildDebug



# Workflows enables us to run multiple jobs in parallel
workflows:
  version: 2
  build-and-test:
    jobs:
      - build-android
